[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/zora-protocol"]
	path = lib/zora-protocol
	url = https://github.com/ourzora/zora-protocol
